body{
    
    overflow-y: scroll;
    height: 100vh;
    margin: 0px;
}
td, th {
    border: 1px solid #999;
    padding: 13px;
  }
 .myviewtbale{
  
  margin-left:10px;
  overflow-x: auto; // Enable horizontal scrolling
  width: 100%;
 

 }    
   table {
    width: 100%;
        margin-top: 30px;
        text-align: left;
        position: relative;
        border-collapse: collapse; 
        background-color: #f6f6f6;
      } 
  
      th {
        background:#272c4a;
        color: white;
        border-radius: 0;
        position: sticky;
        top: 0;
        padding: 10px;
      }
      .primary{
        background-color: #000000
      }
      
      tfoot > tr  {
        background: black;
        color: white;
      }
      tbody > tr:hover {
        background-color: #818181;
        color: white;
      }
      
      .updatebtn{
        color: white;
        border-radius: 5px;
        border: none;
        padding: 5px;
        background-color: #1E4FFD;
        cursor: pointer;
      }

     .pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  gap: 10px;
}

.pagination-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  position: relative;
  top: 10px;
}

.pagination-button.active {
  background-color: #0056b3;
}

.pagination-label {
  font-size: 16px
}


/* CSS for loading animation */
@keyframes loading {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

.loading-text::before {
  content: "Loading";
  animation: loading 1.5s infinite;
  display: inline-block;
}
