// Footer.scss

.footer {
    background-color: #1E4FFD;
    color: #fff;
    padding: 20px 0;
    text-align: center;
     
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  